In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

Read Data

In [27]:
raw_data = pd.read_csv('data.csv')
copyData = raw_data.copy()

Drop the unnamed column

In [30]:
# drop the unnamed column
copyData.drop(copyData.columns[0], axis=1, inplace=True)
copyData.head()

,Location,Attendance_Numbers,Visitor_Demographics,Economic_Impact,Music_Genre
0,200000,18-35,Music Enthusiasts,£100 million,Various
1,400000,18-30,EDM Fans,€150 million,EDM
2,500000,18-40,International Attendees,€130 million,Various
3,90000,20-40,Rock Fans,€80 million,Rock
4,130000,18-40,Alternative Music Lovers,DKK 70 million,Alternative

Exploratory Data Analysis